.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: 0;
}

div.collapsed {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
