<div style="background-color: rgb(255, 255, 255); padding: 20px" id="resume">
  <img src="../../../assets/julie.jpeg" alt="James Moriarty" />
  <h1>James Moriarty</h1>
  <div class="contact-info">
    <p>
      <i class="fa fa-phone"></i> 555-666-7777
      <i class="fa fa-globe"></i> moriarty.com
      <i class="fa fa-envelope"></i> napoleon@crime.com
    </p>
  </div>
  <p id="objective">
    I am a reserved but ambitious young professional seeking a career that fits
    my professional skills, personality, and murderous tendencies.
  </p>

  <dl>
    <dt>Education</dt>
    <dd>
      <h2>Oxford University</h2>
      <p>
        <strong>Major:</strong> Applied Mathematics<br />
        <strong>Minor:</strong> Romance Languages
      </p>
    </dd>
  </dl>

  <dl>
    <dt>Skills</dt>
    <dd>
      <h2>Office Skills</h2>
      <p>
        Office and records management, database administration, event
        organization, customer support, travel coordination
      </p>
      <h2>Computer skills</h2>
      <p>
        Microsoft productivity software (Word, Excel, etc), Adobe Creative
        Suite, Windows
      </p>
    </dd>
  </dl>

  <dl>
    <dt>Experience</dt>
    <dd>
      <h2>Consulting Criminal<span>London 1892 – present</span></h2>
      <ul>
        <li>Development within the criminal underworld</li>
        <li>Conducted negotiations with several rogue governments</li>
      </ul>

      <h2>The Coldstream Guards<span>Army Coach, London 1889 – 1888</span></h2>
      <ul>
        <li>Recruiting, training and terrorizing young men.</li>
      </ul>

      <h2>
        Oxford University<span>Professor of Mathematics 1885 – 1888</span>
      </h2>
      <ul>
        <li>
          Published papers in binomials, asteroid dynamics and game theory
        </li>
        <li>Intimidated students</li>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt>Hobbies</dt>
    <dd>World domination, Social Manipulation, Murder Most Foul</dd>
  </dl>
</div>
