<div class="container">
  <!-- <div class="profile">
        <div class="profile-photo"></div>
        <div class="profile-info">
            <h2 class="heading heading-light">Profile</h2>
            <p class="profile-text">
                Hello! I’m Robert Smith. Senior Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, SQL, and C. Stng background
                in project management and customer relations.
            </p>
            <div class="contacts">
                <div class="contacts-item">
                    <h3 class="contacts-title">
                        <i class="fas fa-phone-volume"></i> Phone
                    </h3>
                    <a href="tel:+18001234567" class="contacts-text">+(1800) 123 4567</a>
                </div>
                <div class="contacts-item">
                    <h3 class="contacts-title"><i class="fas fa-envelope"></i> Email</h3>
                    <a href="mailto:Robertsmith@gamil.com" class="contacts-text">Robertsmith@gmail.com</a
          >
        </div>
        <div class="contacts-item">
          <h3 class="contacts-title">
            <i class="fas fa-globe-americas"></i> Web
          </h3>
          <a href="http://www.robertsmith.com" class="contacts-text"
            >www.robertsmith.com</a
          >
        </div>
        <div class="contacts-item">
          <h3 class="contacts-title">
            <i class="fas fa-map-marker-alt"></i> Home
          </h3>
          <address class="contacts-text">
            24058, Belgium, Brussels, <br />Liutte 27, BE
          </address>
        </div>
      </div>
      <h2 class="heading heading-light">Languages</h2>
      <div class="languages">
        <div class="language">
          <span class="language-text">English</span>
          <strong class="languages-per">100%</strong>
        </div>
        <div class="language">
          <span class="language-text">French</span>
          <strong class="languages-per">90%</strong>
        </div>
        <div class="language">
          <span class="language-text">Greak</span>
          <strong class="languages-per">80%</strong>
        </div>
        <div class="lines">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </div>
    </div>
  </div> -->
  <div
    [style]="{
      '--color': cvService.monCV.coleurThemeElement,
      '--titleColor': cvService.monCV.coleurThemeTitre
    }"
    class="resume"
  >
    <div class="resume-wrap">
      <div class="logo">
        <div class="logo-lines logo-lines_left">
          <span class="logo-line"></span>
          <span class="logo-line"></span>
          <span class="logo-line"></span>
        </div>
        <div class="w-25">
          <img
            [src]="cvService.monCV.urlImage"
            alt=""
            class="img-thumbnail"
            srcset=""
          />
        </div>
        <div class="logo-lines logo-lines_right">
          <span class="logo-line"></span>
          <span class="logo-line"></span>
          <span class="logo-line"></span>
        </div>
      </div>
      <div class="about">
        <h1 class="name">
          {{
            cvService.monCV.nom
              ? cvService.monCV.nom + " " + cvService.monCV.prenom
              : name
          }}
        </h1>
        <span class="position">
          {{
            cvService.monCV.nationalite
              ? cvService.monCV.nationalite
              : nationality
          }}</span
        >
        <address class="about-address">
          {{ cvService.monCV.metier ? cvService.monCV.metier : job }}
        </address>
        <div class="about-contacts">
          <a class="about-contacts__link" href="#">
            <b>t</b> +216
            {{ cvService.monCV.phone ? cvService.monCV.phone : phone }}</a
          >
          |
          <a class="about-contacts__link" href="#">
            <b>e</b>:
            {{ cvService.monCV.email ? cvService.monCV.email : email }}
          </a>
          |
          <a class="about-contacts__link" href="#">
            <b>a</b>:
            {{ cvService.monCV.adresse ? cvService.monCV.adresse : address }}</a
          >
          <a class="about-contacts__link" href="#">
            <b>w</b>:
            {{
              cvService.monCV.liens[3] ? cvService.monCV.liens[3].url : webSite
            }}</a
          >
        </div>
      </div>
      <div class="experience">
        <h2 class="heading heading_dark">Profile</h2>
        <p class="list-item__text">
          {{ cvService.monCV.apropos }}
        </p>
        <h2 class="heading heading_dark">Experience</h2>
        <ul class="list">
          <li
            *ngFor="let item of cvService.monCV.experiencesPro"
            class="list-item"
          >
            <b>
              <h6 class="">
                {{ item.titrePoste | uppercase }}
              </h6>
            </b>

            <h4 class="list-item__title">{{ item.entreprise | uppercase }}</h4>
            <span class="list-item__date">
              {{ item.dateDebut | date : "fullDate" }} -
              {{ item.dateFin | date : "fullDate" }}</span
            >
            <p class="list-item__text">
              {{ item.desc }}
            </p>
          </li>
        </ul>
      </div>
      <div class="education">
        <h2 class="heading heading_dark">Education</h2>
        <ul class="list">
          <li
            class="list-item list-item_non-border"
            *ngFor="let item of cvService.monCV.educations"
          >
            <h4 class="list-item__title">{{ item.diplome }}</h4>
            <span class="list-item__date">
              {{ item.dateDebut | date : "fullDate" }} -
              {{ item.dateFin | date : "fullDate" }}</span
            >
            <p class="list-item__text">
              {{ item.etablissement }}
            </p>
          </li>
        </ul>
      </div>
      <div class="skills">
        <h2 class="heading heading_dark heading_skills">Skills</h2>
        <ul class="skills-list">
          <li
            class="skills-list__item"
            *ngFor="let item of cvService.monCV.competences"
          >
            {{ item.nom }}
            <div class="w-100">
              <div
                class="level level-80"
                [ngStyle]="{ width: item.porcent + '%' }"
              >
                {{ item.porcent }} %
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
