<!-- personal-info.component.html -->
<div class="my-3 p-3 overflowcont">
  <div class="card p-4">
    <h5
      class="card-title"
      (click)="isCollapsedExperience = !isCollapsedExperience"
      [attr.aria-expanded]="!isCollapsedExperience"
      aria-controls="collapseExample"
    >
      🏢 expérience professionnelle <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Commencez par vos études les plus récentes et remontez dans le passé.
    </p>

    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedExperience"
      class="row mt-2 g-3"
      *ngFor="let experience of monCV.experiencesPro; let i = index"
    >
      <h6 class="my-2">
        Expercience n° {{ i + 1 }}
        <i
          (click)="supprimerForm(monCV.experiencesPro, i)"
          class="fa fa-times text-bg-danger p-1 mx-5"
        ></i>
      </h6>

      <div class="col-md-6">
        <label class="form-label">Titre du poste</label>
        <input
          type="text"
          class="form-control"
          placeholder="poste"
          [(ngModel)]="experience.titrePoste"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.Ingénieur</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Entreprise</label>
        <input
          type="text"
          placeholder="entreprise"
          class="form-control"
          [(ngModel)]="experience.entreprise"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.Tekup</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Depuis</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp1"
            type="date"
            [(ngModel)]="experience.dateDebut"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Jusqu'à</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp2"
            type="date"
            [(ngModel)]="experience.dateFin"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="col-12">
        <label class="form-label">Description du poste</label>
        <textarea
          type="text"
          rows="2"
          class="form-control"
          placeholder="adresse"
          [(ngModel)]="experience.desc"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
        <small class="form-text text-muted"
          >ex.Participation aux actions commerciales</small
        >
      </div>
      <hr />
    </form>
    <button
      name="experience"
      #buttonExperience
      type="button"
      (click)="ajouterForm(monCV.experiencesPro, buttonExperience.name)"
      class="btn btn-outline-primary mt-2"
    >
      Ajouter expérience
    </button>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedEducation = !isCollapsedEducation"
      [attr.aria-expanded]="!isCollapsedEducation"
      aria-controls="collapseExample"
    >
      📚 Education <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Commencez par vos études les plus récentes et remontez dans le passé.
    </p>

    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedEducation"
      class="row mt-2 g-3"
      *ngFor="let education of monCV.educations; let i = index"
    >
      <h6 class="my-2">
        Diplome n° {{ i + 1 }}
        <i
          (click)="supprimerForm(monCV.educations, i)"
          class="fa fa-times text-bg-danger p-1 mx-5"
        ></i>
      </h6>
      <div class="col-md-6">
        <label class="form-label">Titre du diplome</label>
        <input
          type="text"
          class="form-control"
          placeholder="poste"
          [(ngModel)]="education.diplome"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.Licence d'art</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Etablissement</label>
        <input
          type="text"
          placeholder="entreprise"
          class="form-control"
          [(ngModel)]="education.etablissement"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex. Tekup University</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Depuis</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp1"
            type="date"
            [(ngModel)]="education.dateDebut"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Jusqu'à</label>
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp2"
            type="date"
            [(ngModel)]="education.dateFin"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="col-12">
        <label class="form-label">Mention</label>
        <textarea
          type="text"
          rows="2"
          class="form-control"
          placeholder="mention"
          [(ngModel)]="education.mention"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
        <small class="form-text text-muted"
          >ex.Participation aux actions commerciales</small
        >
      </div>
      <hr />
    </form>
    <button
      name="educations"
      #buttonEducation
      type="button"
      (click)="ajouterForm(monCV.educations, buttonEducation.name)"
      class="btn btn-outline-primary mt-2"
    >
      Ajouter Formation
    </button>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedCompetences = !isCollapsedCompetences"
      [attr.aria-expanded]="!isCollapsedCompetences"
      aria-controls="collapseExample"
    >
      💻 Compétences <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Les compétences que vous ajoutez devraient correspondre aux prérequis du
      poste auquel vous postulez.
    </p>

    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedCompetences"
      class="row mt-2 g-3"
    >
      <label class="mt-2" for="">Compétences</label>
      <input
        class="form-control"
        type="text"
        (keydown.enter)="addCompetences($event)"
        placeholder=""
      />

      <ul
        *ngFor="let comp of monCV.competences"
        class="list-group list-group-horizontal"
      >
        <li class="list-group-item">
          {{ comp }}

          <input
            type="range"
            class="custom-range mx-2"
            min="0"
            max="5"
            value="2"
          />
          <span class="mx-2" (click)="removeCompetences(comp)"
            ><i class="fa fa-times" aria-hidden="true"></i
          ></span>
        </li>
      </ul>
    </form>
  </div>
</div>
