<div class="m-3 p-3">
  <div class="card p-4">
    <h5 class="card-title">🆔 Customize template</h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form class="row mt-2 g-3">
      <label for="exampleColorInput" class="form-label">Color picker</label>
      <input
        type="color"
        class="form-control form-control-color"
        id="exampleColorInput"
        value="#563d7c"
        title="Choose your color"
      />

      <div class="col-12">
        <label class="form-label">Title font size</label>
        <input type="text" class="form-control" placeholder="name" />
        <small class="form-text text-muted">ex.wanen</small>
      </div>

      <div class="col-12">
        <label class="form-label">Text font size</label>
        <input type="text" class="form-control" placeholder="name" />
        <small class="form-text text-muted">ex.wanen</small>
      </div>
      <div class="col-12">
        <label class="form-label">font-family</label>
        <input type="text" placeholder="prenom" class="form-control" />
        <small class="form-text text-muted">ex.yosra</small>
      </div>
    </form>
  </div>
</div>
