<div class="main">
  <div class="left">
    <br /><br />
    <h1><span>MANOJ</span> ADHIKARI</h1>
    <p class="sd">Software Developer</p>

    <div class="box-1">
      <p class="heading">CONTACT</p>
      <br />

      <p class="p1"><i class="material-icons icons1">call</i>+121-2323-2323</p>
      <p class="p1">
        <i class="material-icons icons1">email</i>info@yourweb.com
      </p>
      <p class="p1"><i class="material-icons icons1">map</i>MV Phase-III</p>
      <p class="p1"><i class="material-icons icons1">fax</i>lorem Dummy</p>

      <hr class="hr1" />
    </div>

    <div class="box-1">
      <br />
      <p class="heading">EDUCATION</p>
      <p class="p2" style="width: 200px">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has
      </p>
      <p class="p2" style="width: 200px">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has
      </p>
      <br />
      <hr class="hr1" />
    </div>

    <div class="box-1">
      <br />
      <p class="heading">SKILLS</p>
      <ul class="skill">
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>JQUERY</li>
        <li>ANGULAR</li>
        <li>BOOTSTRAP</li>
        <li>RXJS</li>
        <li>TYPESCRIPT</li>
      </ul>
    </div>
  </div>

  <div class="right">
    <div class="box-2">
      <h2>PROFILE</h2>
      <p class="p2">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>

      <hr class="hr2" />
    </div>

    <div class="box-2">
      <h2>EXPERIENCE</h2>
      <h4 style="font-size: 12px; font-weight: 600">Write Your Job Title</h4>
      <p class="p2">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>

      <p class="p2">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>
      <br />
      <hr class="hr2" />
      <br />
      <h4 style="font-size: 12px; font-weight: 600">Write Your Job Title</h4>
      <p class="p2">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>

      <p class="p2">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>
      <br />
      <hr class="hr2" />
      <br />

      <h4 style="font-size: 12px; font-weight: 600">Write Your Job Title</h4>
      <p class="p2" style="padding-bottom: 20px">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>

      <p class="p2" style="padding-bottom: 20px">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry. lorem ipsum has Lorme ispum is simply dummy text of the
        printing and typesetting industry. lorem ipsum has
      </p>
      <p class="p2" style="padding-bottom: 20px">
        Lorme ispum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </div>
  </div>
</div>
