.overflowcont {
  height: 100vh;
  overflow-y: scroll;
}

.overflowcont::-webkit-scrollbar {
  width: 0.5rem; /* Adjust the width as needed */
  background-color: transparent;
}

/* Customize the scrollbar track */
.overflowcont::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Customize the scrollbar thumb */
.overflowcont::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Adjust the transparency as needed */
}
