<!-- personal-info.component.html -->
<div class="my-3 p-3">
  <div class="card p-4">
    <h5
      class="card-title"
      (click)="isCollapsedcordonnee = !isCollapsedcordonnee"
      [attr.aria-expanded]="!isCollapsedcordonnee"
      aria-controls="collapseExample"
    >
      🆔 Coordonnées <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedcordonnee"
      class="row mt-2 g-3"
    >
      <div class="col-12">
        <label for="fileInput">
          <img class="w-50 mt-2 text-center border" [src]="imageUrl" />
        </label>
        <input
          id="fileInput"
          type="file"
          style="display: none"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          placeholder="name"
          [(ngModel)]="monCV.nom"
          [ngModelOptions]="{ standalone: true }"
        />

        /> />
        <small class="form-text text-muted">ex.wanen</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Prenom</label>
        <input
          type="text"
          placeholder="prenom"
          class="form-control"
          [(ngModel)]="monCV.prenom"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.yosra</small>
      </div>
      <div class="col-12">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="email"
          [(ngModel)]="monCV.email"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.yosra@gmail.com</small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Phone</label>
        <input
          type="number"
          class="form-control"
          placeholder="phone"
          [(ngModel)]="monCV.phone"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.+216 12 345 675 </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Addresse</label>
        <input
          type="text"
          class="form-control"
          placeholder="adresse"
          [(ngModel)]="monCV.adresse"
          [ngModelOptions]="{ standalone: true }"
        />
        <small class="form-text text-muted">ex.21 Street, tunis</small>
      </div>
      <div class="col-12">
        <label class="form-label">About me</label>
        <textarea
          type="text"
          class="form-control"
          rows="4"
          placeholder="About me"
          [(ngModel)]="monCV.apropos"
          [ngModelOptions]="{ standalone: true }"
        >
        </textarea>
      </div>

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Informations supplémentaires
      </button>
      <span #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="row">
          <div class="col-md-6">
            <label for="inputAddress" class="form-label">Nationalité</label>
            <input
              type="text"
              class="form-control"
              placeholder="nationalité"
              [(ngModel)]="monCV.nationalite"
              [ngModelOptions]="{ standalone: true }"
            />
            <small class="form-text text-muted">ex.Tunisienne </small>
          </div>
          <div class="col-md-6">
            <label class="form-label">Etat Civil</label>
            <input
              type="text"
              class="form-control"
              placeholder="etat civil"
              [(ngModel)]="monCV.etatCivil"
              [ngModelOptions]="{ standalone: true }"
            />
            <small class="form-text text-muted">ex.marié(e)</small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Date de naissance</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                type="date"
                [(ngModel)]="monCV.dateNaissance"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
      </span>
    </form>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedliens = !isCollapsedliens"
      [attr.aria-expanded]="!isCollapsedliens"
      aria-controls="collapseExample"
    >
      🌐 Liens <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedliens"
      class="row mt-2 g-3"
    >
      <div class="col-12">
        <label class="form-label">Linkedin</label>
        <input
          type="text"
          class="form-control"
          name="Linkedin"
          (blur)="addLiens(inputLinkedin.value, inputLinkedin.name)"
          #inputLinkedin
        />
        <small class="form-text text-muted">ex.linkedin.com/yosrawanen</small>
      </div>
      <div class="col-12">
        <label class="form-label">Github</label>
        <input
          type="text"
          placeholder="prenom"
          class="form-control"
          name="Github"
          (blur)="addLiens(inputGithub.value, inputGithub.name)"
          #inputGithub
        />
        <small class="form-text text-muted">ex.yosra-wan</small>
      </div>
      <div class="col-12">
        <label class="form-label">Behance</label>
        <input
          type="text"
          class="form-control"
          name="Behance"
          (blur)="addLiens(inputBehance.value, inputBehance.name)"
          #inputBehance
        />
        <small class="form-text text-muted">ex.yosra wanen</small>
      </div>
      <div class="col-12">
        <label class="form-label">personal website</label>
        <input
          type="text"
          class="form-control"
          name="website"
          (blur)="addLiens(inputwebsite.value, inputwebsite.name)"
          #inputwebsite
        />
        <small class="form-text text-muted">ex.www.portfolio.com </small>
      </div>
    </form>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedhobby = !isCollapsedhobby"
      [attr.aria-expanded]="!isCollapsedhobby"
      aria-controls="collapseExample"
    >
      🎨 Hobby <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedhobby"
      class="row mt-2 g-3"
    >
      <div class="col-12">
        <label class="mt-2" for="">Hobby</label>
        <input
          class="form-control"
          type="text"
          (keydown.enter)="addHobby($event)"
          placeholder=""
        />

        <ul
          *ngFor="let hobby of monCV.loisirs"
          class="list-group list-group-horizontal mt-1"
        >
          <li class="list-group-item mt-1">
            {{ hobby }}

            <span class="mx-2" (click)="removeHobby(hobby)"
              ><i class="fa fa-times" aria-hidden="true"></i
            ></span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
