<!-- personal-info.component.html -->
<div class="overflowcont my-3 p-3">
  <div class="card p-4">
    <h5
      class="card-title"
      (click)="isCollapsedcordonnee = !isCollapsedcordonnee"
      [attr.aria-expanded]="!isCollapsedcordonnee"
      aria-controls="collapseExample"
    >
      🆔 Coordonnées <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      [formGroup]="myForm"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedcordonnee"
      class="row mt-2 g-3"
      novalidate
    >
      <div class="col-12">
        <label for="fileInput">
          <img
            class="w-50 mt-2 text-center border"
            [src]="monCV.urlImage"
            ngDefaultControl
          />
        </label>
        <input
          id="fileInput"
          type="file"
          style="display: none"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">Nom</label>
        <input
          [(ngModel)]="monCV.nom"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['nom'].invalid && myForm.controls['nom'].touched,
            'is-valid':
              myForm.controls['nom'].valid && myForm.controls['nom'].touched
          }"
          type="text"
          placeholder="name"
          formControlName="nom"
          (blur)="myForm.controls['nom'].markAsTouched()"
        />

        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['nom'].invalid && myForm.controls['nom'].touched
          "
        >
          Le nom est requis.
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Prenom</label>
        <input
          type="text"
          placeholder="prenom"
          [(ngModel)]="monCV.prenom"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['prenom'].invalid &&
              myForm.controls['prenom'].touched,
            'is-valid':
              myForm.controls['prenom'].valid &&
              myForm.controls['prenom'].touched
          }"
          type="text"
          placeholder="name"
          formControlName="prenom"
          (blur)="myForm.controls['prenom'].markAsTouched()"
        />

        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['prenom'].invalid &&
            myForm.controls['prenom'].touched
          "
        >
          Le prenom est requis.
        </small>
      </div>
      <div class="col-12">
        <label class="form-label">Email</label>
        <input
          type="email"
          placeholder="email"
          [(ngModel)]="monCV.email"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['email'].invalid &&
              myForm.controls['email'].touched,
            'is-valid':
              myForm.controls['email'].valid && myForm.controls['email'].touched
          }"
          type="text"
          placeholder="name"
          formControlName="email"
          (blur)="myForm.controls['email'].markAsTouched()"
        />
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['email'].errors?.['required'] &&
            myForm.controls['email'].touched
          "
        >
          Le email est requis.
        </small>
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['email'].errors?.['email'] &&
            myForm.controls['email'].touched
          "
        >
          Le format de l'email est invalide.
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Phone</label>
        <input
          type="number"
          placeholder="phone"
          [(ngModel)]="monCV.phone"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['phone'].invalid &&
              myForm.controls['phone'].touched,
            'is-valid':
              myForm.controls['phone'].valid && myForm.controls['phone'].touched
          }"
          type="text"
          [maxLength]="8"
          placeholder="name"
          formControlName="phone"
          (blur)="myForm.controls['phone'].markAsTouched()"
        />

        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['phone'].invalid && myForm.controls['phone'].touched
          "
        >
          <ng-container *ngIf="myForm.controls['phone'].errors?.['required']">
            Le phone est requis.
          </ng-container>
          <ng-container *ngIf="myForm.controls['phone'].errors?.['pattern']">
            Le phone doit contenir uniquement 8 chiffres.
          </ng-container>
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Metier</label>
        <input
          type="text"
          class="form-control"
          placeholder="metier"
          [(ngModel)]="monCV.metier"
          formControlName="metier"
        />
        <small class="form-text text-muted">ex.+216 12 345 675 </small>
      </div>
      <div class="col-12">
        <label class="form-label">Addresse</label>
        <input
          type="text"
          placeholder="adresse"
          [(ngModel)]="monCV.adresse"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['adresse'].invalid &&
              myForm.controls['adresse'].touched,
            'is-valid':
              myForm.controls['adresse'].valid &&
              myForm.controls['adresse'].touched
          }"
          type="text"
          placeholder="name"
          formControlName="adresse"
          (blur)="myForm.controls['adresse'].markAsTouched()"
        />

        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['adresse'].invalid &&
            myForm.controls['adresse'].touched
          "
        >
          Le adresse est requis.
        </small>
      </div>
      <div class="col-12">
        <label class="form-label">About me</label>
        <textarea
          type="text"
          rows="2"
          placeholder="About me"
          [(ngModel)]="monCV.apropos"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['about'].invalid &&
              myForm.controls['about'].touched,
            'is-valid':
              myForm.controls['about'].valid && myForm.controls['about'].touched
          }"
          type="text"
          placeholder="about me "
          formControlName="about"
          (blur)="myForm.controls['about'].markAsTouched()"
        >
        </textarea>
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['about'].invalid && myForm.controls['about'].touched
          "
        >
          Le about est requis.
        </small>
      </div>

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Informations supplémentaires
      </button>
      <span #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="row">
          <div class="col-md-6">
            <label for="nationalite" class="form-label">Nationalité</label>
            <select
              id="nationalite"
              placeholder="Nationalité"
              class="form-select"
              formControlName="nationalite"
              [(ngModel)]="monCV.nationalite"
              [ngClass]="{
                'is-invalid':
                  myForm.controls['nationalite'].invalid &&
                  myForm.controls['nationalite'].touched,
                'is-valid':
                  myForm.controls['nationalite'].valid &&
                  myForm.controls['nationalite'].touched
              }"
            >
              <option value="" disabled selected>Select Nationality</option>
              <option
                *ngFor="let nationality of nationalities"
                [value]="nationality"
              >
                {{ nationality }}
              </option>
            </select>
            <small
              class="form-text text-muted"
              *ngIf="
                myForm.controls['nationalite'].invalid &&
                myForm.controls['nationalite'].touched
              "
            >
              Nationality is required.
            </small>
          </div>

          <div class="col-md-6">
            <label for="etatCivil" class="form-label">Etat civil</label>
            <select
              id="etatCivil"
              placeholder="Etat civil"
              class="form-select"
              formControlName="etatCivil"
              [(ngModel)]="monCV.etatCivil"
              [ngClass]="{
                'is-invalid':
                  myForm.controls['etatCivil'].invalid &&
                  myForm.controls['etatCivil'].touched,
                'is-valid':
                  myForm.controls['etatCivil'].valid &&
                  myForm.controls['etatCivil'].touched
              }"
            >
              <option value="" disabled selected>Select etat</option>
              <option *ngFor="let etat of etatCivils" [value]="etat">
                {{ etat }}
              </option>
            </select>
            <small
              class="form-text text-danger"
              *ngIf="
                myForm.controls['etatCivil'].invalid &&
                myForm.controls['etatCivil'].touched
              "
            >
              etat is required.
            </small>
          </div>

          <div class="col-md-6">
            <label class="form-label">Date de naissance</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                type="date"
                [(ngModel)]="monCV.dateNaissance"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
        </div>
      </span>
    </form>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedliens = !isCollapsedliens"
      [attr.aria-expanded]="!isCollapsedliens"
      aria-controls="collapseExample"
    >
      🌐 Liens <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      [formGroup]="myForm"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedliens"
      class="row mt-2 g-3"
    >
      <div class="col-12">
        <label class="form-label">Linkedin</label>
        <input
          type="text"
          class="form-control"
          name="Linkedin"
          [(ngModel)]="monCV.liens[0]['url']"
          #inputLinkedin
          (blur)="
            addLiens(inputLinkedin.value, inputLinkedin.name) &&
              myForm.controls['linkedin'].markAsTouched()
          "
          formControlName="linkedin"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['linkedin'].invalid &&
              myForm.controls['linkedin'].touched,
            'is-valid':
              myForm.controls['linkedin'].valid &&
              myForm.controls['linkedin'].touched
          }"
        />
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['linkedin'].invalid &&
            myForm.controls['linkedin'].touched
          "
        >
          Le linkedin est requis.
        </small>
      </div>
      <div class="col-12">
        <label class="form-label">Github</label>
        <input
          type="text"
          placeholder="prenom"
          class="form-control"
          name="Github"
          [(ngModel)]="monCV.liens[1]['url']"
          formControlName="github"
          #inputGithub
          (blur)="
            addLiens(inputGithub.value, inputGithub.name) &&
              myForm.controls['github'].markAsTouched()
          "
          formControlName="github"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['github'].invalid &&
              myForm.controls['github'].touched,
            'is-valid':
              myForm.controls['github'].valid &&
              myForm.controls['github'].touched
          }"
        />
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['github'].invalid &&
            myForm.controls['github'].touched
          "
        >
          Le github est requis.
        </small>
      </div>
      <div class="col-12">
        <label class="form-label">Behance</label>
        <input
          type="text"
          class="form-control"
          name="Behance"
          [(ngModel)]="monCV.liens[2]['url']"
          formControlName="behance"
          #inputBehance
          (blur)="
            addLiens(inputBehance.value, inputBehance.name) &&
              myForm.controls['behance'].markAsTouched()
          "
          formControlName="behance"
          [ngClass]="{
            'form-control': true,
            'is-invalid':
              myForm.controls['behance'].invalid &&
              myForm.controls['behance'].touched,
            'is-valid':
              myForm.controls['behance'].valid &&
              myForm.controls['behance'].touched
          }"
        />
        <small
          class="form-text text-danger"
          *ngIf="
            myForm.controls['behance'].invalid &&
            myForm.controls['behance'].touched
          "
        >
          Le behance est requis.
        </small>
      </div>
      <div class="col-12">
        <label class="form-label">personal website</label>
        <input
          type="text"
          class="form-control"
          name="website"
          [(ngModel)]="monCV.liens[3]['url']"
          formControlName="website"
          (blur)="addLiens(inputwebsite.value, inputwebsite.name)"
          #inputwebsite
        />
        <small class="form-text text-muted">ex.www.portfolio.com </small>
      </div>
    </form>
  </div>

  <div class="card p-4 mt-3">
    <h5
      class="card-title"
      (click)="isCollapsedhobby = !isCollapsedhobby"
      [attr.aria-expanded]="!isCollapsedhobby"
      aria-controls="collapseExample"
    >
      🎨 Hobby <i class="fas fa-edit text-primary p-3"></i>
    </h5>
    <p class="card-subtitle mb-2 mb-2 text-muted">
      Dites-nous qui vous êtes, comment les employeurs peuvent vous contacter.
    </p>
    <form
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsedhobby"
      class="row mt-2 g-3"
    >
      <div class="col-12">
        <label class="mt-2" for="">Hobby</label>
        <input
          class="form-control"
          type="text"
          (keydown.enter)="addHobby($event)"
          placeholder=""
        />

        <ul
          *ngFor="let hobby of monCV.loisirs"
          class="list-group list-group-horizontal mt-1"
        >
          <li class="list-group-item mt-1">
            {{ hobby }}

            <span class="mx-2" (click)="removeHobby(hobby)"
              ><i class="fa fa-times" aria-hidden="true"></i
            ></span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
