<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold fs-2 text-primary" href="index.html">
      <span class="navbar-brand-text text-info">.</span>CV
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-blue fs-18"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Resume Templates</a
          >
          <ul class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Basic</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">College</a>
            </li>
          </ul>
        </li>
      </ul>

      <button
        type="button"
        class="btn btn-login btn-primary ms-lg-4 px-4 fs-18 mt-3 mt-lg-0"
        [routerLink]="['/login']"
      >
        Login/Register
      </button>
    </div>
  </div>
</nav>
