<div class="container">
  <div class="row">
    <div class="my-5 card card-register">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
          <div class="card-body">
            <div class="ml-auto mr-auto">
              <h3 class="mb-5 text-center mt-4">Sign In to •CV</h3>
            </div>

            <form class="form text-center" (ngSubmit)="cnx()" novalidate>
              <input
                class="form-control"
                formControlName="email"
                placeholder="Email"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
              />

              <input
                class="form-control"
                placeholder="Password"
                type="password"
                (focus)="focus3 = true"
                (blur)="focus3 = false"
              />

              <button class="btn btn-primary mt-4" href="javascript:void(0)">
                Connexion
              </button>

              <div class="mt-3">
                <p>
                  Vous n'avez pas de compte?
                  <a href="" [routerLink]="['/register']">Inscrivez Vous</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
