<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <title>CodePen - Resume/CV Design</title>
  </head>
  <body>
    <app-cv1></app-cv1>
    <app-cv2></app-cv2>
    <app-cv3></app-cv3>
  </body>
</html>
<!-- https://www.elite-corner.com/2022/06/how-to-convert-html-to-pdf-in-angular-application.html -->
