<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <app-edit-nav></app-edit-nav>
    </div>

    <div class="col sticky-top">
      <div class="p-5" style="background-color: #e6e6e6">
        <h3 class="mt-2 text-center text-primary">Modéle choisi</h3>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-light mb-3"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              Autre Modéles
            </button>
            <span #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <div (click)="hide()" class="row">
                <ul
                  ngbNav
                  #nav="ngbNav"
                  [(activeId)]="active"
                  class="nav-tabs mx-2"
                >
                  <li [ngbNavItem]="1">
                    <button ngbNavLink>
                      <img
                        class="mx-4 border border-secondary"
                        style="width: 100px"
                        src="../../assets/2.png"
                        alt=""
                        srcset=""
                      />
                    </button>
                    <ng-template ngbNavContent>
                      <app-cv1></app-cv1>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <button ngbNavLink>
                      <img
                        class="mx-4 border border-secondary"
                        style="width: 100px"
                        src="../../assets/1.png"
                        alt=""
                        srcset=""
                      />
                    </button>
                    <ng-template ngbNavContent>
                      <p>
                        <app-cv3></app-cv3>
                      </p>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="3">
                    <button ngbNavLink>
                      <img
                        class="mx-4 border border-secondary"
                        style="width: 100px"
                        src="../../assets/3.png"
                        alt=""
                        srcset=""
                      />
                    </button>
                    <ng-template ngbNavContent>
                      <p>
                        <app-cv4></app-cv4>
                      </p>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="4">
                    <button ngbNavLink>
                      <img
                        class="mx-4 border border-secondary"
                        style="width: 100px"
                        src="../../assets/cv2.PNG"
                        alt=""
                        srcset=""
                      />
                    </button>
                    <ng-template ngbNavContent>
                      <p>
                        <app-cv7></app-cv7>
                      </p>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>
              </div>
            </span>
          </div>

          <div *ngIf="!hidden">
            <app-cv1></app-cv1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
