

    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">HEY, MY NAME IS {{ data['name']+' '+data['prenom']}}</h1>
        <div class="home-hero__info" *ngIf="data['bio']">
          <p class="textPragrphe">
            {{data['bio']}}
          </p>
        </div>
        <div class="home-hero__cta" *ngIf="data['project']">
          <a href="./#projects" class="btn btn--bg">Projects</a>
        </div>
      </div>
<div class="homeherosocials">
      <div class="homeherosocial" *ngIf="data['socials']">
       <!--  <a *ngFor="let social of data['socials']" [href]="social[getSocialKey(social)]" class="homeherosocialiconlink">
          <ng-container [ngSwitch]="getSocialKey(social)">
            <i *ngSwitchCase="'Linkedin'" class="fab fa-linkedin-in"></i>
            <i *ngSwitchCase="'instagram'" class="fab fa-instagram"></i>
            <i *ngSwitchCase="'twitter'" class="fab fa-twitter"></i>
            <i *ngSwitchCase="'gitHub'" class="fab fa-github"></i>
          </ng-container>
        </a> -->
      </div>
    </div>

      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>


    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med" *ngIf="data['parg1']">
          <span class="heading-sec__main">About Me</span>
          <span class="heading-sec__sub">
            {{data['parg1']}}
          </span>
        </h2>
        <div class="about__content" >
          <div class="about__content-main" *ngIf="data['parg2']" >
            <h3 class="about__content-title">Get to know me!</h3>
            <div class="about__content-details">

              <p class="about__content-details-para">
              {{data['parg2']}}
              </p>
            </div>
            <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contact</a
            >
          </div>

          <div class="about__content-skills" *ngIf="data['Skills'].length">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              <div class="skills__skill"  *ngFor="let skill of data['Skills']" >{{skill}}</div>
            </div>
          </div>


        </div>
      </div>
    </section>
   <section id="projects" class="projects sec-pad" *ngIf="data['project']" >
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projects</span>
          <span class="heading-sec__sub">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis
            tempora explicabo quae quod deserunt eius sapiente
          </span>
        </h2>

        <div class="projects__content">
          <div class="projects__row"  *ngFor="let project of data['project'] , let i index" >
            <div class="projects__row-img-cont">
              <img
                [src]="project['imageUrl']"
                alt="Software Screenshot"
                class="projects__row-img"
                 style="width: 100%;"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content" >
              <h3 class="projects__row-content-title"> {{project['title']}}</h3>
              <p class="projects__row-content-desc">
               {{project['description']}}
              </p>
              <a
                [href]="project['link']"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>

        </div>
      </div>
    </section>

   <section>
    <p>
      <br/>
      <button type="button"
          class="btn btn-success"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!gfg"
        aria-controls="collapseExample">
        Click to collapse
      </button>
      </p>

      <div #collapse="ngbCollapse"
        [(ngbCollapse)]="gfg">
      <div class="card">
        <div class="card-body">
        Angular10 ng bootstrap
        </div>
      </div>
      </div>

   </section>


    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="../../../assets/png/linkedin-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="../../../assets/png/github-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="../../../assets/png/twitter-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="../../../assets/png/yt-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon main-footer__icon--mr-none"
                  src="../../../assets/png/insta-ico.png"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">John Doe</h4>
            <p class="main-footer__short-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit facilis
              tempora explicabo quae quod deserunt
            </p>
          </div>
        </div>

        <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
        <div class="main-footer__lower">
          &copy; Copyright 2021. Made by
          <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
            >Ram Maheshwari</a
          >
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>

