<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
  crossorigin="anonymous"
/>
<div
  class="resume"
  [style]="{
    '--primarycolor': cvService.monCV.coleurThemeElement,
    '--secondaryColor': cvService.monCV.coleurThemeTitre
  }"
>
  <div class="resume_left">
    <div class="resume_profile">
      <img [src]="cvService.monCV.urlImage" alt="profile_pic" />
    </div>
    <div class="resume_content">
      <div class="resume_item resume_info">
        <div class="title">
          <p class="bold">
            {{
              cvService.monCV.nom
                ? cvService.monCV.nom + " " + cvService.monCV.prenom
                : name
            }}
          </p>
          <p class="regular">
            {{ cvService.monCV.metier ? cvService.monCV.metier : job }}
          </p>
        </div>
        <ul>
          <li>
            <div class="icon">
              <i class="fas fa-map-signs"></i>
            </div>
            <div class="data">
              {{ cvService.monCV.adresse ? cvService.monCV.adresse : address
              }}<br />
              {{
                cvService.monCV.nationalite
                  ? cvService.monCV.nationalite
                  : nationality
              }}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="data">
              +216 {{ cvService.monCV.phone ? cvService.monCV.phone : phone }}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="data">
              {{ cvService.monCV.email ? cvService.monCV.email : email }}
            </div>
          </li>
          <li>
            <div class="icon">
              <i class="fab fa-weebly"></i>
            </div>
            <div class="data">
              {{
                cvService.monCV.liens[3]
                  ? cvService.monCV.liens[3].url
                  : webSite
              }}
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_skills">
        <div class="title">
          <p class="bold">skill's</p>
        </div>
        <ul>
          <li *ngFor="let item of cvService.monCV.competences">
            <div class="skill_name">{{ item.nom }}</div>
            <div class="skill_progress">
              <span [ngStyle]="{ width: item.porcent + '%' }"></span>
            </div>
            <div class="skill_per">{{ item.porcent + "%" }}</div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_social">
        <div class="title">
          <p class="bold">Social</p>
        </div>
        <ul>
          <li *ngFor="let item of cvService.monCV.liens">
            <div class="icon">
              <i [ngClass]="affecterClass(item.nom)"></i>
            </div>
            <div class="data">
              <p class="semi-bold">{{ item.nom }}</p>
              <p>{{ item.url }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
      <div class="title">
        <p class="bold">About us</p>
      </div>
      <p>
        {{ cvService.monCV.apropos }}
      </p>
    </div>
    <div class="resume_item resume_work">
      <div class="title">
        <p class="bold">Work Experience</p>
      </div>
      <ul>
        <li *ngFor="let item of cvService.monCV.experiencesPro">
          <div class="date">
            {{ item.dateDebut | date : "fullDate" }} -
            {{ item.dateFin | date : "fullDate" }}
          </div>
          <div class="info">
            <p class="semi-bold">{{ item.entreprise | uppercase }}</p>
            <p>
              {{ item.titrePoste }}
            </p>
            <p>
              {{ item.desc }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
        <p class="bold">Education</p>
      </div>
      <ul>
        <li *ngFor="let item of cvService.monCV.educations">
          <div class="date">
            {{ item.dateDebut | date : "fullDate" }} -
            {{ item.dateFin | date : "fullDate" }}
          </div>
          <div class="info">
            <p class="semi-bold">{{ item.etablissement }}</p>
            <p>
              {{ item.diplome }}
            </p>
            <p>
              {{ item.mention }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="resume_item">
      <div class="title">
        <p class="bold">Hobby</p>
      </div>
      <ul *ngFor="let item of cvService.monCV.loisirs">
        <li>{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
