<div class="row steps-list bg-light">
  <section id="how-it-works" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="step text-center mb-4">
            <img
              class="img-fluid"
              style="width: 60%"
              src="http://drive.google.com/uc?export=view&id=1ECD2o-lKuuUkuqtBbipisWIdbLWtyQus"
            />
          </div>
          <h4 class="text-center">Etape 1</h4>
          <p class="text-center">Sélectionnez un modèle de CV</p>
        </div>
        <div class="col-md-4">
          <div class="step text-center mb-4">
            <img
              class="img-fluid"
              style="width: 60%"
              src="http://drive.google.com/uc?export=view&id=12a07lKIAxogNlZ1s0e4s0iD7h23GlFvl"
            />
          </div>
          <h4 class="text-center font-weight-bold">Etape 2</h4>
          <p class="text-center">Remplissez les sections du CV</p>
        </div>
        <div class="col-md-4">
          <div class="step text-center mb-4">
            <img
              class="img-fluid"
              style="width: 60%"
              src="http://drive.google.com/uc?export=view&id=1_8j1_Ex4e2AkqZAqw-7hM77hrIokqoSN"
            />
          </div>
          <h4 class="text-center">Etape 2</h4>
          <p class="text-center">Téléchargez votre CV</p>
        </div>
      </div>
    </div>
  </section>
</div>
