<div class="container-fluid">
  <div class="">
    <div class="jumbotron p-5 text-center">
      <h1 class="">Créez votre cv professionnel</h1>
      <p class="text-center">
        Découvrez une plateforme qui vous donne la liberté de créer, gérer et
        développer votre présence sur le Web.
      </p>

      <a class="btn btn-primary" href="#" role="button">C'est parti !</a>
    </div>

    <app-cv1></app-cv1>
    <app-cv2></app-cv2>
    <app-cv3></app-cv3>
    <app-cv4></app-cv4>
    <app-cv5></app-cv5>
    <app-cv6></app-cv6>
    <app-cv7></app-cv7>
  </div>
</div>
