<div class="content bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src="../../assets/undraw_remotely_2j6y.svg"
          alt="Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <br /><br /><br /><br />

              <h3>Inscrivez-vous !</h3>
              <p class="mb-4">
                Lorem ipsum dolor sit amet elit. Sapiente sit aut eos
                consectetur adipisicing.
              </p>
            </div>
            <form action="#" method="post">
              <div class="form-group first">
                <label for="username">Prénom</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="form-group first">
                <label for="username">Nom</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="form-group first">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="form-group first">
                <label for="username">Profession</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" />
              </div>

              <input
                type="submit"
                value="Log In"
                class="btn btn-block btn-primary"
              />

              <span class="d-block text-left my-4 text-muted">
                Vous ave déjà un compte ?
                <a [routerLink]="['/login']">connectez-vous !</a>
              </span>
            </form>
            <br /><br />

            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
