<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mx-2">
  <li [ngbNavItem]="1">
    <button class="btn btn-info" ngbNavLink>Données Personnelles</button>
    <ng-template ngbNavContent>
      <app-edit1 [monCV]="monCV"></app-edit1>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button class="btn btn-info" ngbNavLink>Cursus</button>
    <ng-template ngbNavContent>
      <p>
        <app-edit2 [monCV]="monCV"></app-edit2>
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button class="btn btn-info" ngbNavLink>Personnaliser CV</button>
    <ng-template ngbNavContent>
      <p>
        <app-edit3 [monCV]="monCV"></app-edit3>
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
